{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% extends "layout/page_skeleton.html.twig" %}

{% set scene_left = entity.getHelpdeskSceneId('custom_helpdesk_home_scene_left') %}
{% set scene_right = entity.getHelpdeskSceneId('custom_helpdesk_home_scene_right') %}

{% block content %}
    {# We override the parent width using .force-full-width because we need our background images and colors to bleed
       through and use all the available width. The content is still using the correct width by redefining manually the
       container size for each sections of the page using container-xl/container-narrow classes#}
    <div class="d-flex flex-column helpdesk-home-container force-full-width">
        <div class="search-banner d-flex">
            <div class="scene scene-left">
                {{ render_scene(scene_left) }}
            </div>
            <div class="container-narrow search-banner-content">
                <h1 class="text-center mb-0" data-testid="home-title">
                    {{ entity.getHelpdeskHomeTitle() }}
                </h1>

                {% if entity.isHelpdeskSearchBarEnabled() %}
                    <div id="search-overlay" class="search-overlay bg-dark"></div>
                    <div class="input-icon search-bar-container">
                        <span class="input-icon-addon">
                            <i class="ti ti-search"></i>
                        </span>
                        <input
                            id="search-input"
                            type="text"
                            value=""
                            class="form-control home-search"
                            placeholder="{{ __("Search for knowledge base entries or forms") }}"
                            data-testid="home-search"
                        >
                        <section
                            id="search-results"
                            class="position-absolute search-result-container w-100 d-none"
                            aria-label="{{ __("Search results") }}"
                        >
                        </section>
                    </div>
                {% else %}
                    {# No search area but keep the same size to keep illustrations layout consistent #}
                    <div class="search-bar-container-placeholder"></div>
                {% endif %}
            </div>
            <div class="scene scene-right">
                {{ render_scene(scene_right) }}
            </div>
        </div>
        
	<section class="tiles-banner" aria-label="Quick Access" data-testid="quick-access">
            <div class="container-xl">
                <table class="central">
                </table>

                <div class="row">                              
                <div class="col-12 col-sm-6 col-md-4 d-flex">
                            <a class="card mx-1 my-2 flex-grow-1" href="/glpi/ServiceCatalog">
                                <section class="card-body">
                                    <div class="d-flex">
                                        <div class="aspect-ratio-1">    
                                    <svg role="img" width="70px" height="70px" class="flex-shrink-0">
                                        <title>Request support</title>
                                        <use xlink:href="/glpi/lib/glpi-project/illustrations/glpi-illustrations-icons.svg#request-support"></use>
                                    </svg>
                                </div>
                                        <div class="ms-4">
                                            <h2 class="card-title mb-2 text-break">
                                            Create a Ticket
                                            </h2>
                                            <div class="text-secondary remove-last-tinymce-margin">
                                                <p>Go to our service catalog and pick a form to create a new ticket.</p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </a>
                        </div>
                                                                                            
                        <div class="col-12 col-sm-6 col-md-4 d-flex">
                            <a class="card mx-1 my-2 flex-grow-1" href="/glpi/front/ticket.php?is_deleted=0&as_map=0&browse=0&unpublished=1&criteria%5B0%5D%5Blink%5D=AND&criteria%5B0%5D%5Bfield%5D=7&criteria%5B0%5D%5Bsearchtype%5D=equals&criteria%5B0%5D%5Bvalue%5D=1&criteria%5B1%5D%5Blink%5D=OR&criteria%5B1%5D%5Bfield%5D=7&criteria%5B1%5D%5Bsearchtype%5D=equals&criteria%5B1%5D%5Bvalue%5D=8&criteria%5B2%5D%5Blink%5D=OR&criteria%5B2%5D%5Bfield%5D=7&criteria%5B2%5D%5Bsearchtype%5D=equals&criteria%5B2%5D%5Bvalue%5D=33&criteria%5B3%5D%5Blink%5D=OR&criteria%5B3%5D%5Bfield%5D=7&criteria%5B3%5D%5Bsearchtype%5D=equals&criteria%5B3%5D%5Bvalue%5D=46&criteria%5B4%5D%5Blink%5D=OR&criteria%5B4%5D%5Bfield%5D=7&criteria%5B4%5D%5Bsearchtype%5D=equals&criteria%5B4%5D%5Bvalue%5D=123&criteria%5B5%5D%5Blink%5D=OR&criteria%5B5%5D%5Bfield%5D=7&criteria%5B5%5D%5Bsearchtype%5D=equals&criteria%5B5%5D%5Bvalue%5D=124&params%5Bhide_criteria%5D=0&params%5Bhide_controls%5D=0&params%5Bshowmassiveactions%5D=1&itemtype=Ticket&start=0">
                                <section class="card-body">
                                    <div class="d-flex">
                                        <div class="aspect-ratio-1">      
                                    <svg role="img" width="70px" height="70px" class="flex-shrink-0">
                                        <title>Tickets</title>
                                        <use xlink:href="/glpi/lib/glpi-project/illustrations/glpi-illustrations-icons.svg#tickets"></use>
                                    </svg>
                                </div>

                                        <div class="ms-4">
                                            <h2 class="card-title mb-2 text-break">
                                            See your tickets
                                            </h2>
                                            <div class="text-secondary remove-last-tinymce-margin">
                                                <p>View all the tickets that you have created.</p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </a>
                        </div>
                    </div>
                </div>
        </section>

        <div class="tickets-banner">
            <div class="container-xl">
                {{ tabs.showTabsContent() }}
            </div>
        </div>
    </div>

    <script>
        (async function() {
            const module = await import(
                "{{ js_path('js/modules/Helpdesk/IndexController.js') }}"
            );
            new module.GlpiHelpdeskIndexController();
        })();
    </script>
{% endblock content %}
